
 body {
    background: rgb(247, 249, 249);     /* red, blue, yellow, etc */
    color: blue;            /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: lighter;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 5px;        /* From 0px and upwards   */
 }